<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/public/css/style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
    <script src="/public/script/script.js" defer></script>
    <title>Detail</title>
    <style>
      body{
        background: #212529;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
      }
      main{
        max-width: 1000px;
        color: #FFF;
        text-align: center;
        margin: 20px auto;
        font-family : '맑은 고딕';
      }
      article > img{
        max-width: 500px;
      }
      article > div{
        padding-top: 20px;
        max-width: 700px;
        margin: 0 auto;
      }
      p{
        white-space: pre-line;
      }
    </style>
</head>
<body>
  <%- include('nav.html') %>

    <main>
      <article>
        <img src="/public/image/<%= post.img %>" alt="" />
        <div>
          <h5>제목 : <%=  post.title %></h5>
          <p><%= post.content %></p>
        </div>
      </article>
      <button id="btn_update" data-id="<%= post._id %>"  class="btn btn-primary" onclick="location.href='/update/<%= post._id %>'">Update</button>
      <button id="btn_delete" data-id="<%= post._id %>"  class="btn btn-primary">Delete</button>
    </main>
    
</body>
</html>